<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Phonebook</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{css/bootstrap.css}" rel="stylesheet"/>
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Phonebook</a>
        </div>
    </div>
</nav>


<div class="container">

    <form th:action="@{/save}" th:object="${contact}" th:method="PUT">
        <label for="name">Нэр:</label>
        <input type="text" id="name" th:field="*{name}" />

        <label for="number">Утасны дугаар:</label>
        <input type="text" id="number" th:field="*{number}" />

        <!-- Хуучин утгуудыг нууц талбаруудаар дамжуулна -->
        <input type="hidden" name="oldName" th:value="${contact.name}" />
        <input type="hidden" name="oldNumber" th:value="${contact.number}" />

        <button type="submit" class="btn btn-primary">Хадгалах</button>
    </form>

    <hr/>

    <footer>
        <p>&copy; Software University</p>
    </footer>
</div>

</body>
</html>